.about {
  margin: 20px 100px 20px 100px;
  padding: 30px;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
  align-items: flex-start;
  /* position: relative; */
  border: 1px solid;
}

/* .img {
  overflow: hidden;
  display: block;
  justify-content: center;
  object-fit: cover;
  padding: 0;
  margin: 0;
  width: 100%;
} */

h2 {
    margin-top: 2rem;
    padding: 1px;
}

.image {
    padding: 3px;
    margin: 5px;
    display: inline-flex;
    border-radius: 50%;
    object-fit: cover;
    max-width: fit-content;
    max-height: 200px;
    /* position: absolute; */
}